body {
  background-color: greenyellow; /* page background color */
  color: black; /* the text color */
  font-family: 'Rubik Iso', cursive; /* the text font */
}

canvas {
  background-color: black;
}